title = "Ergo Aridrop"
url = "/"
layout = "default"
is_hidden = 0

[Participants]
==
<div class="jumbotron">
    <div class="container">
        <h1>Ergo Airdrop</h1
        <p>Честная раздача токенов</p>    
    </div>
</div>
<div class="container">
    <div class="col-md-3 text-center">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Номер ETH-блока на котором произведем раздачу</h3>
            </div>
            <div class="panel-body">
                <h4>{{ Participants.getSettings.blockno }}</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Количество участников<br/><br/><br/></h3>
            </div>
            <div class="panel-body">
                <h4>{{ Participants.getSettings.prtcp_count }}</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Количесство победителей<br/><br/></h3>
            </div>
            <div class="panel-body">
                <h4>{{ Participants.getSettings.winners }}</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Призовой фонд (ERGO-токенов)<br/><br/></h3>
            </div>
            <div class="panel-body">
                <h4>{{ Participants.getSettings.coins }}</h4>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1>Список участников</h1>
    <table class="table"
        <thead>
            <tr>
                <th>Адрес</th>
                <th>Имя</th>
                <th></th>
            </tr>
        </thead>
    {% for partcp in Participants.getParticipants %}
        <tr>
            <td>{{ partcp.address }}</td>
            <td>{{ partcp.name }}</td>
            <td>
                {% if partcp.winned_coins.coin_count %}
                    <i class="icon-money"></i> {{ partcp.winned_coins.coin_count }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
<div class="container">
    <h1>Список победителей</h1>
    <table class="table"
        <thead>
            <tr>
                <th>Адрес</th>
                <th>Имя</th>
                <th></th>
            </tr>
        </thead>
    {% for partcp in Participants.getWinners %}
        <tr>
            <td>{{ partcp.address }}</td>
            <td>{{ partcp.name }}</td>
            <td>
                {% if partcp.winned_coins.coin_count %}
                    <i class="icon-money"></i> {{ partcp.winned_coins.coin_count }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>